# https://wiki.archlinux.de/title/Numlock

if [ -x /usr/bin/numlockx ]; then
     /usr/bin/numlockx on
fi

export PATH=~/.local/share/rofi/rofi-translate:$PATH

# xsecurelock options
export XSECURELOCK_SAVER="$HOME/.local/bin/xsecurelock-saver-cmatrix"
export XSECURELOCK_DIMMER="$HOME/.local/bin/audio-volume-lock-notifier"
export XSECURELOCK_SHOW_DATETIME=1
export XSECURELOCK_SINGLE_AUTH_WINDOW=1
export XSECURELOCK_AUTH_TIMEOUT=30
export XSECURELOCK_BLANK_TIMEOUT=-1
export XSECURELOCK_FONT="JetBrains Mono,JetBrains Mono Medium:style=Medium,Regular"
export XSECURELOCK_AUTH_BACKGROUND_COLOR="000000"
export XSECURELOCK_AUTH_FOREGROUND_COLOR="#00ffff"
export XSECURELOCK_AUTH_WARNING_COLOR="#ff5555"
export XSECURELOCK_COMPOSITE_OBSCURER=0

# https://chatgpt.com/share/675f4532-60b4-8000-9e4c-d72fa0ea0e21
eval "$(/usr/bin/gnome-keyring-daemon --start --components=ssh)"
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/keyring/ssh"
